/*
	Constants

	Changing any of these values will change the entire site.
	Acces with "var(--variable-name)".
*/
:root {
	--gold: #7c6e52;
	--black: #242424;
	--white: #ffffff;

	--foreground-color: var(--gold);
	--background-color: var(--white);
	--navbar-color: var(--foreground-color);

	--navbar-link-background-color: var(--black);
	--navbar-link-text-color: var(--white);

	--foot-color: var(--foreground-color);

	--horizontal-nav-height: 7vh;
	--vertical-nav-width: 30%;
	--vertical-nav-height: 93vh;
	--vertical-nav-padding: 2%;

	--foot-height: 7vh;

	--left-padding: 2%;
	--right-padding: 2%;

	--nav-item-padding: 1vh;
	--nav-item-max-height: 80%;
	--nav-item-gap: 2.5%;

	--flip-card-width: 200px;
	--flip-card-height: 350px;
	--flip-card-row-gap: 4vh;
	--flip-effect-duration: 0.6s;

	--flip-card-front-background-color: var(--gold);
	--flip-card-front-text-color: var(--white);
	--flip-card-back-background-color: var(--black);
	--flip-card-back-text-color: var(--white);

	--flip-card-img-border-color: yellow;
	--flip-card-img-border-weight: 2px;
	--flip-card-img-border-type: solid;
}

b {
	font-weight: bolder;
}

body {
	background-color: var(--background-color);

	/*Reset margins so that elements can take up 100% of the window space if desired*/
	margin: 0;
	padding: 0;
	/*Move out the way of the nav and footer elements*/
	margin-top: 2%;
	margin-bottom: var(--foot-height);

	overflow: scroll;
}

nav, footer {
	display: flex;
	flex-direction: column;

	/*Make the nav element stick to the top of the page*/
	position: fixed;
	top: 0;

	/*Make sure the nav element is on top of everything else*/
	z-index: 1000;
}

nav {
	box-sizing: border-box;
	left: 0;
	transform: translateY(-100%);
	background-color: var(--navbar-color);
	height: var(--vertical-nav-height);
	width: var(--vertical-nav-width);
	padding: var(--vertical-nav-padding);
}

nav:target {
	transform: translateY(0);  
}

nav > ul {
	display: flex;
	flex-direction: column;
	gap: var(--nav-item-gap);

	/*Center elements vertically*/
	align-items: center;

	/*Remove bullet decoration*/
	list-style-type: none;

	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;

	padding-top: 10%;
}

#nav-container {
	width: 100vw;
	padding: 0;
}

#hamburger-button {
	background-color: var(--gold);
	font-size: larger;
	padding: 10px;
}

#menu-close-button {
	position: absolute;
	top: 0.5;
	left: 0.5;
	z-index: 1000;

	font-size: larger;
}

#logo, #twitter {
	display: none;
}

/*Horizontal Menu*/
@media screen and (min-width: 700px) {
	nav {
		flex-direction: row;
		height: var(--horizontal-nav-height);
		padding: 0;
		padding-left: var(--vertical-nav-padding);
		width: 100vw;
		transform: translateY(0);
	}

	body {
		margin-top: var(--horizontal-nav-height);
	}

	#logo {
		display: block;
		height: 65%;
		width: auto;
	}

	#hamburger-button, #menu-close-button {
		display: none;
	}

	nav > ul {
		flex-direction: row;
		padding-top: 0;
	}

	nav > ul li > a {
		padding: var(--nav-item-padding);
		max-height: var(--nav-item-max-height);
	}

	#twitter {
		display: block;
	}
}

nav > ul li > a {
	box-sizing: border-box;

	background-color: var(--navbar-link-background-color);

	padding: var(--nav-item-padding);
	max-height: var(--nav-item-max-height);

	align-items: center;
	text-decoration: none;
}

nav > ul li > a:is(:link, :visited, :focus, :hover, :active) {
	color: var(--navbar-link-text-color);
}

a:is(#hamburger-button, #menu-close-button):is(:link, :visited, :focus, :hover, :active) {
	color: var(--navbar-link-text-color);
}

footer {
	height: var(--foot-height);
	width: 100vw;
	background-color: var(--foot-color);

	/*Make the footer element stick to the bottom of the page*/
	top: auto;
	bottom: 0;
	height: var(--foot-height);

	/*Center elements vertically*/
	justify-content: center;
}

body > * {
	/*Add the padding back in*/
	padding-left: var(--left-padding);
	padding-right: var(--right-padding);
}

span.highlighted-term {
	text-decoration: underline;
	font-weight: bold;
}

/*
	Flip Card Styling
*/

.flip-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: var(--flip-card-row-gap);
}

.flip-card {
	background-color: transparent;
	width: var(--flip-card-width);
	height: var(--flip-card-height);
	perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;

	text-align: center;
	transition: transform var(--flip-effect-duration);
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: var(--flip-card-front-background-color);
	color: var(--flip-card-front-text-color);
}

.flip-card-back {
	box-sizing: border-box;
	padding: 5%;
	text-align: left;
	background-color: var(--flip-card-back-background-color);
	color: var(--flip-card-back-text-color);
	transform: rotateY(180deg);
}

.flip-card .img-container {
	width: 80%;
	height: 50%;
	overflow: hidden;

	/*Center horizontally*/
	margin-left: auto;
	margin-right: auto;

	border: var(--flip-card-img-border-type) var(--flip-card-img-border-weight) var(--flip-card-img-border-color);
}

.fit-space {
	width: 100%;
	height: 100%;
	object-fit: cover;
}